* {
	box-sizing: border-box;
}

body {
	background: url("../lib/assets/night-bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	font-family: 'Questrial', sans-serif;
	color: #fff;
}

.logo {
  width: 117px;
  position: absolute;
  right: 10px;
  margin-right: 22px;
}

