* {
	box-sizing: border-box;
}

body {
	background: url("../lib/assets/night-bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	font-family: 'Questrial', sans-serif;
	color: #fff;
}

.logo {
  width: 117px;
  position: absolute;
  right: 10px;
  margin-right: 22px;
}


h4 {
  margin: 0px;
}

.line-break {
  border: solid #fff 2px;
  width: 60%;
  height: 1px;
  margin-top: 8px;
  border-radius: 3px;
  opacity: .07;
}
.ten-day-break {
  display: flex;
  justify-content: space-around;
  margin: 25px 0px -10px;
  width: 100%;
}

.ten-day-break h4 {
  color: #00aeef;
  opacity: .8;
}

@media screen and (max-width: 1120px) {
  .logo {
    position: inherit;
		display: block;
		margin: 12px auto -10px;
	}
}

@media screen and (max-width: 720px) {
  .line-break {
    width: 50%;
  }
}

@media screen and (max-width: 440px) {
  .line-break {
    width: 30%;
  }
}
