.hour-cards {
	width: 158px;
	text-align: center;
}

.hour-cards h1 {
	margin-bottom: 0;
	font-size: 20px;
	opacity: .3;
}

.hour-cards h2 {
	font-size: 80px;
	margin: 0;
	opacity: .7;
}

.hour-cards h3 {
	font-size: 20px;
	margin: 0;
	opacity: .3;
}

.card-container:first-child {
	width: 220px;
	position: relative;
}

.card-container:first-child h1 {
	opacity: 9;
	font-size: 30px;
}

.card-container:first-child h2 {
	opacity: .9;
	font-size: 110px;
}

.card-container:first-child h3 {
	opacity: .9;
	font-size: 30px;
}

.day-cards {
	text-align: center;
}

.ten-day-day h3 {
	font-size: 18px;
	margin-top: 0px;
}

/*.day-cards h1 {
	font-size: 20px;
	margin: 0;
	opacity: .9;
}*/

.high-low {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
	opacity: .9;

}

.high-low h1{
	margin: 0 4px;

}

.low-span {
	opacity: .2;
}

i {
	font-size: 35px;
	margin-top: 5px;
}