.seven-hour {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 1000px;
	margin: 28px auto 0px;
}

.seven-hour:first-child h1 {
	opacity: 1;
}

@media screen and (max-width: 1120px) {
	.seven-hour {
		flex-direction: column;
		width: 100%;
	}
}